<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Add subcategory</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="card">
        <div class="card-body">
            <form th:action="'/admin/subcategory/saveadd'" th:object="${subCategory}" method="post">
                <h2 class="text-center text-primary">ADD SUB CATEGORY</h2>
                <fieldset class="form-group">
                    <label>Name: </label>
                    <input class="form-control" type="text" th:field="*{name}">
                </fieldset>
                <fieldset class="form-group">
                    <label>Main Category:</label><br>
                    <select th:field="*{mainCategory}" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option th:each="cat : ${mainCategoryList}" th:value="${cat.id}" th:text="${cat.name}"/>
                    </select>
                </fieldset>
                <input type="hidden" th:field="*{id}">
                <div class="col text-center form-layout-footer mg-t-30">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
            <a th:href="'/admin/subcategory/list'">
                <button class="btn btn-success">Back To List</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>